<div class="feed-container">
    <div class="card">
        <div class="card-head">Name</div>
        <div class="card-body"><img src="https://img.freepik.com/free-vector/privacy-policy-concept-illustration_114360-7853.jpg" alt="" class="feed-img"></div>
        <p>caption</p>
        <p>img</p>
    </div>
</div>