<% if(errorMessage){ %>
  <div class="alert alert-danger" role="alert">
    <%= errorMessage %>
  </div>
<% } %>

<h1  class="text-center"> Signup Form</h1>
<form action="/signup" method="post">
  <div class="form-group">
    <label for="" class="form-label">Name</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="" class="form-label">Email</label>
    <input type="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="" class="form-label">Password</label>
    <input type="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary mx-auto mt-3">Submit</button>
</form>